@media only screen and (max-width:800px) {

    html {
        background-color: black;
    }
    
header {
    width: 100%;
    background-color: black;
    margin-bottom: 0;
    padding:0;
    text-align: center;
}
    
    #imgHeader {
        visibility: hidden;
    }

nav {
    width: 100%;
    display: inline-block;
    background-color: black;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 125%;
}

a:hover {
    color: orange;
}

#maincontent {
    position: relative;
    text-align: center;
}

#mainimage {
  visibility: hidden;
}

#welcome {
    font-size: 300%;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    top: 75px;
    width: 100%;
}

#about {
    position: absolute;
    color:white;
    top: 150px;
    width: 100%;
    background-color: black;
    width: 100%;
    opacity: 0.8;
   
}

footer {
    float:left;
    bottom:0;
    background-color: black;
    width:100%;
    height: 40px;
    float:right;
}

#footerIcons {
    float:right;
    padding-right: 10px;
}

#footerText {
    float: left;    
    color: white;
    padding-left: 1%;
}


#BlackDice {
        float: right;
}

#RedDice {
    float: left;
}
}

@media only screen and (min-width:800px){
    
    header {
    width: 100%;
    background-color: black;
    margin-bottom: 0;
    padding:0;
    text-align: left;
}

nav {
    width: 100%;
    display: inline-block;
    background-color: black;
}

ul {
    list-style-type: none;
    text-align: right;
    margin: 10px;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 125%;
}

a:hover {
    color: orange;
}

#maincontent {
    position: relative;
    text-align: center;
}

#mainimage {
    width: 100%;
    position: relative;
    opacity: 0.8;
}

#welcome {
    font-size: 300%;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    top: 75px;
    width: 100%;
}

#about {
    position: absolute;
    color:white;
    top: 150px;
    width: 100%;
    background-color: black;
    width: 100%;
    opacity: 0.8;
   
}

footer {
    float:left;
    position: fixed;
    bottom:0;
    background-color: black;
    width:100%;
    height: 50px;
    float:right;
}

#footerIcons {
    float:right;
    padding-right: 10px;
}

#footerText {
    float: left;    
    color: white;
    padding-left: 1%;
}


#BlackDice {
        float: right;
}

#RedDice {
    float: left;
}
    
}