html {
    background-color: whitesmoke;
    font-family: 'Helvetica', serif;
}

#headerdiv {
    overflow: hidden;
    color: black;
}

header {
    top: 0px;
    width: 100%;
    height: 150px;
    background-color: #252525;
    text-align: left;
}

nav {
    display: block;
    font-family: 'Contrail One', cursive;
}

#logo {
    float: left;
    margin-left: 10%;
}

a {
    text-decoration: none;
}

ul {
    float: right;
    text-decoration: none;
    list-style-type: none;
    padding-right: 10%;
}

li {
    display: inline-block;
    height:50px;
    background-color: #252525;
}

li a {
    float: right;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: #630460;
    color: white;
}

#maincontent {
    position: relative;
    text-align: center;
}

#mainimage {
    width: 100%;
}

#welcome {
    font-size: 400%;
    font-family: 'Contrail One', cursive;
    color: #630460;
    position: absolute;
    top: 50px;
    width: 100%;
}

#about {
    color: black;
    font-size: 100%;
    margin-left: 15%;
}

#education {
    position: relative;
    margin: 5%;
    padding-left: 10%;
}

#portfolio {
    position: relative;
    margin: 5%;
    padding-left: 10%;
}

footer {
    background-color: #252525;
    float:left;
    bottom: 0px;
    width:100%;
    float:right;
}

#footerIcons {
    float:right;
    padding-right: 10px;
}

#footerText {
    float: left;    
    color: white;
    padding-left: 1%;
}

#maincontent {
    background-color: white;
}

#examples {
    text-align: center;
    color: #630460;
}

#BlackDice {
    float: left;
    margin-left: 100px;
}

#RedDice {
    float: right;
    margin-right: 100px;
}

/* Mobile */


@media only screen and (max-width: 674px) {
    #logo {
        text-align: center;
    }
    
    li {
        display: inline-block;
    }
    
    ul {
        float: none;
    }
    
    li a {
        text-align: center;
    }
    
    nav {
        display: block;
    }
}